* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.header {
    background-color: #dd5e02cc;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    padding: 10px 30px;
    outline: none;
    border: none;
    font-size: 18px;
}

nav ul li a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
}

.web-color {
    color: #FD6E0A;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.homePage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.homeSub {
    font-size: 26px;
}

.homeTitle {
    font-size: 52px;
}

.homePara {
    font-size: 17px;
    margin-bottom: 20px;
}

img {
    width: 447px;
    background-position: bottom;
    display: block;
}

/* about sectoin  */
.main {
    max-width: 900px;
    margin: 0 auto;
}

.aboutSection {
    background-color: #fce5d5cc;
    text-align: center;
    padding: 120px;
}

.aboutSkill {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    text-align: center;
}

.aboutSkillName {
    font-size: 17px;
    font-weight: bold;
}

/* exprences sectio start  */
.exprences {
    padding: 100px 0;
}

.exprences .exTitle {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.exprences>p {
    text-align: center;
    line-height: 30px;
}

.mainExprenceCard {
    display: flex;
    gap: 20px;
    text-align: justify;
    padding: 30px 0;
}

.mainExprence {
    width: 25%;
    gap: 40px;
    background: rgb(180, 180, 180);
    padding: 30px 30px;

}

.mainExprence img {
    width: 50px;
}